name: 处理广西移动M3U至Gitee

on:
  workflow_dispatch:  # 手动触发
#  schedule:
#  # 北京时间凌晨2点 = UTC时间前一天18点
#  - cron: '0 18 * * *'  # UTC时间18点执行（北京时间第二天2点）

jobs:
  sync:
    runs-on: ubuntu-latest
    
    steps:
    - name: 下载原始IPTV文件
      run: |
        response=$(curl -s "https://my9.ltd/tvsh/?t=migu&province=all&isp=all&limit=5&valid=1" || echo "Failed to fetch data")
        echo "$response"
