name: 更新广告过滤文件GITEE

on:
  workflow_dispatch:  # 手动触发
  schedule:
  # 北京时间凌晨2点 = UTC时间前一天18点
  - cron: '40 16,0,8 * * *'

jobs:
  sync:
    runs-on: ubuntu-latest
    
    steps:
    - name: 下载广告过滤文件
      run: |
        wget -q https://raw.githubusercontent.com/217heidai/adblockfilters/main/rules/adblockfilterslite.txt -O 217heidai_adblockfilterslite.adblock
        wget -q https://raw.githubusercontent.com/217heidai/adblockfilters/main/rules/adblockdnslite.txt -O 217heidai_adblockdnslite.adblock
        wget -q https://raw.githubusercontent.com/217heidai/adblockfilters/main/rules/adblockdnsmasqlite.txt -O 217heidai_dnsmasq.txt
        wget -q https://raw.githubusercontent.com/TG-Twilight/AWAvenue-Ads-Rule/main/Filters/AWAvenue-Ads-Rule-Dnsmasq.conf -O 秋风_dnsmasq.txt
        wget -q https://raw.githubusercontent.com/privacy-protection-tools/anti-AD/master/adblock-for-dnsmasq.conf -O anti-ad_dnsmasq.txt
        wget -q https://raw.githubusercontent.com/217heidai/adblockfilters/main/rules/adblockdomainlite.txt -O 217heidai_冰盾.txt
        wget -q https://raw.githubusercontent.com/TG-Twilight/AWAvenue-Ads-Rule/main/AWAvenue-Ads-Rule.txt -O 秋风_冰盾.txt
        wget -q https://raw.githubusercontent.com/privacy-protection-tools/anti-AD/master/anti-ad-domains.txt -O anti-ad_冰盾.txt

    - name: 开始推送
      run: |
        # 配置Git
        git config --global user.name "Auto Sync"
        git config --global user.email "auto@sync.com"
        USER="tyrian9905"
        REPO="iptv"
        
        # 获取北京时间
        export TZ='Asia/Shanghai'
        BEIJING_TIME=$(date '+%Y-%m-%d %H:%M:%S')
        
        # 克隆仓库
        git clone https://oauth2:${{ secrets.GITEE_TOKEN }}@gitee.com/${USER}/${REPO}.git
        
        cd ${REPO}
        
        # 确保目录存在
        mkdir -p adblock

        # 旧款复制文件和提交
        # cp ../217heidai广告规则.txt ../秋风广告规则.txt ../anti-ad广告规则.txt ./dnsblock/
        # git add 217heidai广告规则.txt 秋风广告规则.txt anti-ad广告规则.txt
        
        # 复制所有广告规则文件
        cp ../*.txt ./adblock/ 2>/dev/null || true
        # 添加dnsblock目录下所有文件
        git add adblock/
        
        # 检查是否有变更
        if ! git diff --cached --quiet; then
          git commit -m "自动同步DNS过滤文件 ${BEIJING_TIME}"
          git push origin master
          echo "✅ 文件已同步！"
        else
          echo "⚠️ 没有文件变更，跳过提交"
        fi
